{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my corner of the internet! I'm Ashvin, a tech enthusiast with a passion for all things IT. From delving into coding intricacies to exploring the latest innovations, I thrive on the dynamic landscape of technology.</p>
        <p>Join me as I share my experiences, challenges, and triumphs in the ever-evolving world of IT. Together, let's explore the endless possibilities and shape the future of technology.</p>      
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}